{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 2%, ie 11, edge 14, samsung > 9, OperaMini all, UCAndroid > 12",
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ]
}
