# Build files
BookReader/plugins/*.js.map binary
BookReader/plugins/plugin.archive_analytics.js binary
BookReader/plugins/plugin.fullscreen_menu_toggle.js binary
BookReader/plugins/plugin.tts.js binary
