BookReaderDev
node_modules/
.DS_Store

# Ignore build files
BookReader/plugins/*.js.map
BookReader/plugins/plugin.archive_analytics.js
BookReader/plugins/plugin.fullscreen_menu_toggle.js
BookReader/plugins/plugin.tts.js
