# Build files (keep me sorted, please!)
BookReader/BookReader.js binary
BookReader/*.js.map binary
BookReader/plugins/*.js.map binary
BookReader/plugins/plugin.archive_analytics.js binary
BookReader/plugins/plugin.autoplay.js binary
BookReader/plugins/plugin.iframe.js binary
BookReader/plugins/plugin.menu_toggle.js binary
BookReader/plugins/plugin.tts.js binary
