# keep these lines sorted in ascending order.
# Build files
BookReader/BookReader.css* binary
BookReader/BookReader.js binary
BookReader/*.js.map binary
BookReader/plugins/*.js.map binary
BookReader/plugins/plugin.archive_analytics.js binary
BookReader/plugins/plugin.autoplay.js binary
BookReader/plugins/plugin.chapters.js binary
BookReader/plugins/plugin.iframe.js binary
BookReader/plugins/plugin.text_selection.js binary
BookReader/plugins/plugin.menu_toggle.js binary
BookReader/plugins/plugin.mobile_nav.js binary
BookReader/plugins/plugin.print.js binary
BookReader/plugins/plugin.resume.js binary
BookReader/plugins/plugin.themes.js binary
BookReader/plugins/plugin.print.js binary
BookReader/plugins/plugin.search.js binary
BookReader/plugins/plugin.tts.js binary
BookReader/plugins/plugin.url.js binary
BookReader/plugins/plugin.vendor-fullscreen.js binary
