/* page background */
.BRemptypage {
    background-color: #3a3b3b;
}

#BRbookcover {
    background-image: none;
}

.BRup {
    background-image: url("images/nav_control-up_ia.png");
}

.BRdn {
    background-image: url("images/nav_control-dn_ia.png");
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body.br-ui-embed {
  background-color: transparent;
}
#IABookReaderWrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.1px 0 0 0;
  overflow:hidden;
}
#IABookReaderMessageWrapper {
  /* inline-block is a hack to prevent margin collapsing */
  display:inline-block;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
}
.BookReaderMessage {
  text-align: center;
  color: white;
  background: black;
  padding: 5px;
}

.BookReaderMessageHead {
  margin: 0 10px 5px 0;
  font-size: 1.3em;
  display: inline-block;
}
.BookReaderMessageBody {
  display: inline-block;
}
.BookReaderMessageFoot {
  margin: 4px 0;
}
.BookReaderMessage button {
  font-size: 1.1em;
  margin: 0 2px;
  min-width: 100px;
  margin: 3px 4px 0 4px;
}
.muted {
  color: grey;
}
.BookReaderMessage .muted {
  color: #ccc;
}


a.BRpill, #BRtoolbar a.BRpill {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgb(122,122,122);
  color: white;
  border-radius: 2px;
  position:relative;
  top: 9px;
  text-decoration: none;
  font-size:14px;
  float:left;
  height: 16px;
}
a.BRpill:hover, #BRtoolbar a.BRpill:hover {
  background-color: #4A90E2;
}
a.BRpill:active, #BRtoolbar a.BRpill:active {
  background-color: #6ba4e7;
}
#BRtoolbar a.BRpill.download {
  background-image: url("images/icon_download.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 12px;
  padding-left: 30px;
}
#BRtoolbar a.BRpill.return {
  background-image: url("images/icon_return.png");
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 15px;
  padding-left: 30px;
  margin-right: 5px;
}

@media (max-width: 400px) {
  .BookReaderMessageHead {
    margin: 0 0 0 5px;
    font-size: 1.2em;
  }
  .BookReaderMessage button {
    -webkit-appearance: initial;
    background-color:transparent;
    min-width:100px;
    padding: 8px;
    margin: 4px 4px 0 4px;
  }
}

/* mid size */
@media (max-width: 1050px) {
  #BRtoolbar a.BRpill.download {
    padding-left: 0;
    background-position: 12px center;
    width: 26px;
  }
  #BRtoolbar a.BRpill.return {
    padding-left: 0;
    background-position: 12px center;
    width: 26px;
  }
}

#BookReader {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/* Using position fixed, requires a full-screen to book reader.
 * Still not sure if we want to assume always full screen.  */
body.br-ui-embed #BRcontainer {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Placeholder text */
.BookReaderPlaceholder {
  font-size: 16px;
  line-height: 22px;
  padding: 40px;
  text-align: center;
  width:100%;
  height:100%;
  background-color: white;
  box-sizing: border-box;
}
#br-loading-placeholder img {
  margin-top: 20px;
}
