#GnuBook {
 border:1px solid black;
 position:absolute;
 font-family: arial, sans-serif;
}

#GBtoolbar {
    height:25px;
    width:100%;
    background-color: rgb(241, 239, 237);
}

#GBtoolbar .label {
    font-size: 0.9em;
}

#GBcontainer {
    /*height:95%;*/
    top:25px;
    bottom:0px;
    width:100%;
    overflow-x:auto;
    overflow-y:scroll;    
    /*text-align: center;*/
    background-color: #FCFCFC;
    position:absolute;
}

#GBpageview {
    background-color: #FCFCFC;
}

.GBpagediv1up {
    background-color: #ccc;
    overflow:hidden;
    border-right: 2px solid #717171;
    border-bottom: 2px solid #717171;
    border-left: 1px solid #909090;
    border-top: 1px solid #909090;

}

.GBpagediv2up {
    background-color: rgb(234, 226, 205);
    overflow:hidden;
}

/* search sidebar */
#GnuBookSearch {
    border:1px solid black;
    position:absolute;
    background-color: #CCCCCC;
    font-family: arial, sans-serif;
}

#GnuBookSearchResults {
    background-color: #f8f8f8;  
    top: 25px;
    bottom: 0px;
    overflow:auto;    
    position: absolute;
    left: 0px;
    right: 0px;    
    font-family: arial, san-serif;
    font-size: 0.85em; 
    padding: 2px;
}

.GnuBookSearchHilite {
    opacity: 0.20; 
    filter: alpha(opacity = 20);
    background-color: #00f;
    position:absolute;
}

.GBpageform {
    display: inline; 
}

.GBicon {
    width: 24px;
    height: 24px;
    padding: 0px;
    vertical-align: middle;
    border: none;
}

/* footer stuff, from Rebecca's demo */
#GBfooter { 
    position:absolute;
    bottom: 1px;        /* ensure no vertical scroll bar in FF */
    left: 0px;
    /*width: 100%;*/    /* this causes horizontal scroll bar in FF */
    right: 0px;
    clear: both; 
    color: #000000; 
    padding: 0px 0px 0px 10px; 
    background: #CCCCCC; 
    height: 2em; 
    line-height: 25px; 
    vertical-align: middle; 
    font-family: arial, sans-serif;
    font-size: 12px;
}

.GBlogotype {
    float:left;
    font-weight: bold; 
    height: 25px; 
    line-height: 25px; 
    vertical-align: middle; 
}

a.GBwhite 			{ color: #fff }
a.GBwhite:hover 		{ text-decoration: none; }
a.GBwhite:visited		{ color: #fff }

a.GBblack           { color: #000000 }
a.GBblack:hover     { text-decoration: none; }
a.GBblack:visited   { color: #000000 }

.GBnavlinks {
    float:right; 
    padding: 0px 20px 0px 0px; 
    margin: 0px; 
    height: 25px; 
    line-height: 25px; 
    vertical-align: middle;
}

/* thumnbail view, from Rebecca's demo */
.GBpdstatus-footer {
    position:absolute;
    height: 65px;
    bottom: 25px;
    width: 100%;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc; 
    text-align: right; 
    padding: 0px 0px 0px 0px; 
}

.GBwidgetlabel { 
    color: #919070; 
    padding: 8px 8px 4px 8px; 
    font-family: verdana, arial, helvetica, sans-serif; 
    font-size: 10px; 
    float: left; 
}

.GBicon.logo { background: url(images/logo_base.png) no-repeat; }
.GBicon.zoom_out { background: url(images/zoom_out_base.png) no-repeat; }
.GBicon.zoom_in { background: url(images/zoom_in_base.png) no-repeat; }
.GBicon.script { background: url(images/one_page_mode_base.png) no-repeat; }
.GBicon.book_open { background: url(images/two_page_mode_base.png) no-repeat; }
.GBicon.page_code { background: url(images/embed_base.png) no-repeat; }
.GBicon.book_left { background: url(images/book_left_base.png) no-repeat; }
.GBicon.book_right { background: url(images/book_right_base.png) no-repeat; }
.GBicon.book_up { background: url(images/book_up_base.png) no-repeat; }
.GBicon.book_down { background: url(images/book_down_base.png) no-repeat; }

.GBicon.play { background: url(images/control_play_base.png) no-repeat; }
.GBicon.pause { background: url(images/control_pause_base.png) no-repeat; }
