/* BOOKMARKS - on page */
.BRpagecontainer .bookmark-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
}
.BRmode2Up .BRpagecontainer[data-side="L"] .bookmark-button {
  right: auto;
  left: 0;
}

.BRpagecontainer .bookmark-button.filled {
  opacity: 1;
}

.BRpagecontainer .bookmark-button.default {
  --iconFillColor: var(--defaultBookmarkColor, #eb3223);
}
.BRpagecontainer .bookmark-button.blue {
  --iconFillColor: var(--blueBookmarkColor, #0023f5);
}
.BRpagecontainer .bookmark-button.red {
  --iconFillColor: var(--redBookmarkColor,  #eb3223);
}
.BRpagecontainer .bookmark-button.green {
  --iconFillColor: var(--greenBookmarkColor, #75ef4c);
}
