#{$brScope} {
  /* Shared root element rules */
   font-family: $brFontFamily;
   font-size: $brFontSizeBase;
   line-height: 1.2;
   -webkit-text-size-adjust: none;


  /* Some helper functional css utilities  */
  .tl { text-align: left; }
  .tc, .BRtc { text-align: center; }
  .tr { text-align: right; }
  .ph10 { padding-left: 10px; padding-right: 10px; }
  .mv20 { margin-top: 20px; margin-bottom: 20px; }
  .mt20 { margin-top: 20px; }
  .b { font-weight: bold; }
  .i { font-style: italic; }
  .smaller { font-size: .8em; }
  .larger { font-size: 1.2em; }
  .loader {
    background: url(images/loading.gif) no-repeat 50%;
    height: 16px;
    min-width: 16px;
  }

  /* Desktop-only */
  @media (min-width: ($brBreakPointMobile + 1)) {
    .mobile-only { display: none; }
    .pv20-lg { padding-top: 20px; padding-bottom: 20px; }
    .pv50-lg { padding-top: 50px; padding-bottom: 50px; }
    .mv20-lg { margin-top: 20px; margin-bottom: 20px; }
  }

  @media (max-width: $brBreakPointMobile) {
    .desktop-only { display: none; }
  }
  @media (min-width: $brBreakPointMobile) and (max-width: $brBreakPointMid) {
    .hide-md { display: none; }
  }

  /* Element-level rules */
  h3 {
    font-size: 20px;
    font-weight: 700;
    color: #dedede;
  }
  a {
    outline: none;
  }
  button {
    cursor: pointer;

    &.action {
      margin-left: 5px;
      margin-right: 5px;
      padding: 8px 30px;
      font-size: $brFontSizeBase;
      background-color: transparent;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      background-color: rgb(193,193,193);
      color: white;
      min-width: 150px;
      text-align: center;
      line-height: 1;
      &:active { background-color: rgb(171, 171, 171); }
    }
    &.action.primary {
      background-color: #4990E2;
      &:active { background-color: #2a76cd; }
    }
    &.action.caution {
      background-color: rgb(240,181,52);
      &:active { background-color: rgb(251, 191, 59); }
    }
    &.action.red {
      background-color: rgb(192,57,43);
      &:active { background-color: rgb(154, 43, 32); }
    }
    &.action.orangeButton {
      background-color: transparent;
      border: 2px solid orange;
      color: orange;
      &:active { border-color: rgb(249, 198, 19); }
    }
    &.action.skinny { min-width: 50px; }
    &.facebook-share-button { background-color: #3a5998; }
    &.twitter-share-button { background-color: #429aff; }
    &.email-share-button { background-color: #c1c1c1; }

    .BRicon {
      &:hover { background: none; }
      margin: 0;
      padding: 0;
      display: inline;
    }
  }

  a.logo {
    display: inline-block;
    width: auto;
    height: 100%;
    // margin: 0 25px;
    background: transparent url(images/icon_home.svg) no-repeat center center;
    background-size: contain;
    // margin-top: 7px;
  }
}

.BookReader {
  margin: 0;
  padding: 0;
  position:relative;
  background-color: $brColorMainBg;
}

.BRcontainer {
  top: 0;
  bottom: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  position: absolute;
  -webkit-overflow-scrolling: touch;
}

.BRprogresspopup {
  position: absolute;
  background-color: white;
  font-size: 1.5em;
  padding: 20px;
  border: 2px solid #999;
  min-width: 300px;
  z-index: $brZindexPopup;
}
.BRprogressbar {
  background-image: url("images/progressbar.gif");
  background-repeat:no-repeat;
  background-position:center top;
}

/* Share dialog */
.BRshare {
  &.BRfloat { width: 600px; }

  .share-title { margin: 15px 15px 0; font-weight: bold; font-size: 18px; line-height: 22px; }
  .share-social { margin: 15px 15px 0;}
  .share-social button { padding: 0 5px; height: 40px; text-align: left;}
  .share-social button > i { margin-right: 5px; }
  .share-social > div { display: inline; }
  .share-embed { margin-top: 20px; }

  label.sub.open-to-this-page {
    display: block;
  }

  button[type=button].share-finished {
    background-color: rgb(74,144,226);
    border: 0;
    color: white;
    border-radius: 3px;
    padding: 10px 25px;
    font-size: 15px;
  }
}

/* Info dialog */
.BRinfoValueWrapper { margin-bottom: 10px; }
.BRinfoValue { font-size: $brFontSizeLarger; }
.BRinfoLabel { font-size: $brFontSizeSmaller; color: #999; }
.BRinfoMoreInfoWrapper {
  background-color: $brColorThemeBlue3;
  border-radius: 2px;
  padding: 8px;
  text-align: center;
  &:active { background-color: rgb(80, 155, 242); }
}
.BRinfoOtherFormats { margin-bottom: 40px; }
.BRinfoRightCol > div { margin-bottom: 15px; }
.BRinfoFooter { text-align: right; }

/* Fullscreen rules */
.BookReader {
  &.fullscreenActive {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    margin: 0;
    z-index: $brZindexFullscreen;

    .BRmobileHamburgerWrapper {
      z-index: $brZindexFullscreen + 2;
    }
  }
}
body.BRfullscreenActive {
  overflow: hidden;

  .mm-menu {
    z-index: $brZindexFullscreen - 1;
  }
}

/* Tooltip styles  */
.bt-wrapper {
  padding: 0;
  border: none !important;
  .bt-content {
    background: #333;
    border-radius: 3px;
    padding: 5px 10px !important;
  }
  color: white;
  font-weight: bold;
}

/* High contrast mode */
.high-contrast {
  .BRpagediv1up { background-color: white; }
  .BRpagedivthumb { background-color: white; }
  .BRpageview img,
  .BRtwopageview img {
    -webkit-filter: grayscale(100%) brightness(120%);
    filter: grayscale(100%) brightness(120%);
  }
}

/* Disable selection on Firefox and WebKit */
.BRnoselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

/* Mobile Only */
@media (max-width: $brBreakPointMobile) {
  .BRinfoLeftCol { font-size: $brFontSizeBase; }
  .BRimageW {text-align: center; margin-bottom: 10px;}
  .BRimageW img { height: 200px; width: auto;}
  .BRinfoValue.larger { font-size: $brFontSizeLarger; }
  .BRinfoMoreInfoWrapper a {
    font-size: inherit;
    color: white;
    text-decoration: none;
  }
  .BRinfoOtherFormatsFormat { margin-bottom: 6px; }
  .BRinfoFooter { margin-bottom: 10px; text-align: left; }
  .BRinfoFooter a { display: block;}
  .BRfloatFoot.BRinfoFooter {
    margin: initial;
    padding: initial;
    border: initial;
    font-size: inherit;
  }

  .BRnavline .chapter { display: none; } /* hide chapters in mobile */
  .BRnavline .search { display: none; } /* hide search in mobile */

  .BRprogresspopup { max-width: 80%; min-width: inherit;}

  #{$brScope} {
    .fieldset-embed { display: none; }
    button.action {
      padding: 8px 10px;
      font-size: $brFontSizeBase;
      margin-left: 0; margin-bottom: 10px;
    }
  }
}

/* Desktop Only */
@media (min-width: ($brBreakPointMobile + 1)) {
  .BRinfoW { font-size: $brFontSizeBase; position: relative; padding: 15px; }
  .BRinfoLeftCol { float: left; width: 40%; min-height: 1px; }
  .BRinfoRightCol { float: left; width: 58%; }
  .BRimageW {text-align: center; margin-bottom: 10px; margin-right: 26px;}
  .BRimageW img { height:auto; width: 100%;}
  .BRinfoValue.larger { font-size: 20px; line-height: 1.2; }
  .BRinfoMoreInfoWrapper a { font-size: $brFontSizeBase; color: white; text-decoration: none; font-weight: bold; }
  .BRinfoOtherFormatsFormat { display: inline; margin-right: 10px; }
  .BRinfoFooter { font-size: 1em; clear:both; }
  .BRinfoFooter a { display: inline; margin-right: 10px;}

  #{$brScope} {
    button.action { padding: 8px 16px; }
  }
}