/**
 * BRnav is the bottom control bar (eg footer)
 */
@use "sass:math";

@mixin pseudoElementLayer {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
}

@mixin brNavDark {
  .BRpager {
    background-color: $brColorDarkBorder;
    .ui-slider-handle {
      background: white;
      border: none;
    }
    .ui-slider-range {
      background: rgba(255, 255, 255, 0.59);
    }
  }

  .BRpage {
    .BRicon { border-left: 1px solid $brColorDarkBorder; }
    .BRicon.activated { background-color: rgba(255,255,255,0.4); }
    .BRicon.activated:before {
      @include pseudoElementLayer;
      border: 3px solid rgba(255,255,255,0.3);
    }
  }
}

@mixin brNavLight {
  @include brLightControls;

  .BRpager.ui-slider {
    background: #B7B7B7;
    .ui-slider-handle {
      background: $brColorThemeblue;
    }
    .ui-slider-range {
      background: rgba($brColorThemeblue, .25);
    }
  }

  .BRpage {
    .BRicon { border-left: 1px solid $brColorLightBorder; }
    .BRicon.activated { background-color: rgba($brColorThemeblue,0.4); }
    .BRicon.activated:before {
      @include pseudoElementLayer;
      border: 3px solid rgba($brColorThemeblue,0.3);
    }
  }
}

@keyframes fadeUp {
  from { opacity: 0; translate: 0 10px; }
  to { opacity: 1; translate: 0 0; }
}

 

.BRfooter {
  position: absolute;

  body[data-variant="floating"] & {
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  body[data-variant="attached"] & {
    bottom: 0;
    left: 0;
    right: 0;
  }

  display: flex;
  flex-direction: column;
  /* important so it overlays over the book pages when showing */
  z-index: 3;
  transition: opacity 0.2s, translate 0.2s;

  button {
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background: transparent;

    @media (hover: hover) {
      /* styles to apply on devices that support hover */
      &:hover .BRtooltip {
        display: block;
      }
    }
  }
}

ia-bookreader::part(minimized-menu) {
  transition: opacity 0.2s, translate 0.2s;
}

.faded {
  .BRfooter:not(:focus-within):not(:hover) {
    opacity: 0;
  }
  ia-bookreader::part(minimized-menu) {
    opacity: 0;
  }
}


.BRnav {
  box-sizing: border-box;
  height: $brNavHeightDesktop;
  overflow: visible;

  display: block;
  display: flex;
  flex-direction: row;

  /* Theming */
  @include brNavDark;

  /* Full mobile styles */
  @media (max-width: $brBreakPointMobile) {
    height: $brNavHeightMobile;
    box-shadow: 0px -1px 3px 0px rgba(#666, .25);
  }
}

.BRnavpos {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
  flex: 1 auto;
}
.BRpager.ui-slider  {
  position: relative;
  height: 8px;
  top: math.div($brNavHeightDesktop, 2) - 4px;
  box-sizing: content-box;
  border-radius: 10px;
  cursor: pointer;

  &.ui-widget.ui-widget-content {
    border: none;
  }

  &.ui-slider-docked {
    height: 1px;
    width: 100%;
    margin: 0px;
  }

  .ui-slider-horizontal .ui-slider-handle,
  .ui-slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius:50%;
    top: -5px;
    margin-left: -9px; /* Center icon */
    z-index: $brZindexBase + 5;
    border: none;
  }
  .ui-slider-range {
    height: 100%;
    border-radius: 10px;
  }

  /* handle active state for touch */
  .touch & .ui-slider-handle.ui-state-active {
    width: 24px;
    height: 24px;
    top: -4px;
    margin-left: -11px;
  }
}

/* BRnavlin is where chapters/search are appended */
.BRnavline {
  position: relative;
  height: 1px;
  width: auto;
  top: -1px;
  margin: 0 10px;
  width: 100%;
}
.BRcurrentpage {
  display: inline-block;
  text-align: left;
  padding: 0 0 0 0;
  font-size: $brFontSizeSmaller;
  margin-left: 15px;
  margin-right: 10px;
  line-height: 1;
}
.BRnavTitle {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 0 0 0 0;
  font-size: $brFontSizeSmaller;
  margin-left: 10px;
  margin-right: 5px;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0.5px;
  font-style: italic;
}
.BRpage {
  height: 100%;
  overflow: hidden;
  padding-left: 0;
  text-align: right;
  white-space: nowrap;
  float: left;
  flex: none;
}
.BRpageLparan {
  margin-right: 1px;
  font-size: .8em;
  vertical-align: top;
}
.BRpageRparan {
  margin-left: 1px;
  font-size: .8em;
  vertical-align: top;
}

/* Mobile Only */
@media (max-width: $brBreakPointMobile) {
  /* hide navline chapters and search in mobile */
  .BRnavline .BRchapter { display: none; }

  .BRpager.ui-slider {
    top: math.div($brNavHeightMobile, 2) - 5px;
  }
}

/* Mobile nav zoom buttons */
.DrawerSettingsWrapper [class*="zoom"] {
  width: 40px;
  height: 40px;
  background-position: -1224px center;
  background-size: 3440px auto;
}
.DrawerSettingsWrapper .zoom_in {
  background-position: -1384px center;
}

.BRnavMobile {
  box-sizing: content-box;
}

body[data-variant="floating"] {
  .BRnavMobile.docked .controls {
    border-radius: 4px 4px 0 0;
    overflow: clip;
  }
  .BRnavMobile.docked:not(.hide) + .BRnavMain .controls {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.BRnavMobile.docked {
  height: 4px;
  border: none;

  .BRcontrols .scrubber .BRpager.ui-slider {
    top: -1px;
  }

  .ui-slider,
  .ui-slider-range {
    height: 4px;
    border-radius: 0px;
  }

  .BRnavpos {
    margin: 0px;
  }

  .scrubber {
    margin: 0px;
    padding: 0px;
    height: 0px;
  }

  .BRnavline {
    display: none;
  }

  .ui-slider-handle {
    display: none;
  }

  button {
    display: none;
  }
}

.ui-slider:focus-within {
  outline: 2px solid #BBB;
  outline-offset: 1px;
}

.BRnavMobile.hide {
  display: none;
}
