.BRpageview {
  position: relative;
  margin: auto;
}
.BRpagediv {
  position: relative;
  overflow: hidden;
  background-color: $brColorPlaceholderBg;
  box-shadow: 1px 1px 2px #333;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}
.BRmodethumb {
  cursor: pointer;
}
.BRmodethumb a {
  border: 0;
}
.BRmodethumb img {
  border: 0;
}
.BRmode2up {
  cursor: pointer;
}
.BRbookcover {
  position: absolute;
  background-image: none;
  box-shadow: 1px 0 10px #111;
}
.BRPreview .BRpageimage {
  background-color: #eee;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.BRemptypage {
  background-color: transparent;
}

.BRleafEdgeR {
  border-style: solid solid solid none;
  border-color: rgb(51, 51, 34);
  border-width: 1px 1px 1px 0px;

  background: transparent url(images/back_pages.png) repeat scroll 0% 0%;
  position: absolute;
  cursor: pointer;
}

.BRleafEdgeL {
  /* border-style: solid none solid solid;
  border-color: rgb(51, 51, 34);
  border-width: 1px 0px 1px 1px; */
  background: transparent url(images/back_pages.png) repeat scroll 0% 0%; /* XXXmang replace file */
  position: absolute;
  cursor: pointer;
}

.BRleafEdgeTmp {
  /* border-style: solid none solid solid;
  border-color: rgb(51, 51, 34);
  border-width: 1px 0px 1px 1px; */
  background: transparent url(images/back_pages.png) repeat scroll 0% 0%; /* XXXmang replace file */
  position: absolute;
}

.BRgutter {
  /* border: 1px solid rgb(68, 25, 17); */
  position: absolute;
  background: transparent url(images/booksplit.png) repeat scroll 0% 0%;
}

.BRtwoPagePopUp {
  padding: 6px;
  position: absolute;
  font-size: $brFontSizeSmaller;
  color: white;
  background-color: #9A9B9D;
  opacity: 0.85;
  border-radius: 4px;
  white-space: nowrap;
}
