.BRpageview {
  position: relative;
}
.BRpagediv1up {
  overflow: hidden;
  cursor: move;
  background-color: $brColorPlaceholderBg;
  box-shadow: 1px 1px 2px #333;
}
.BRpagedivthumb {
  background-color: $brColorPlaceholderBg;
  overflow: hidden;
  box-shadow: 1px 1px 2px #333;
  cursor: pointer;
}
.BRpagedivthumb a {
  border: 0;
}
.BRpagedivthumb img {
  border: 0;
}
.BRpagediv2up {
  background-color: rgb(234, 226, 205);
  overflow:hidden;
}
.BRbookcover {
  position: absolute;
  background-image: none;
  box-shadow: 1px 0 10px #111;
}
.BRpageimage {
  background-color: $brColorPlaceholderBg;
  cursor: pointer;
}
.BRPreview .BRpageimage {
  background-color: #eee;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.BRemptypage {
  background-color: #3a3b3b;
  background-color: transparent;
}

.BRonePageImage {
  background: url(images/loading.gif) 50% no-repeat;
}

.BRleafEdgeR {
  border-style: solid solid solid none;
  border-color: rgb(51, 51, 34);
  border-width: 1px 1px 1px 0px;

  background: transparent url(images/back_pages.png) repeat scroll 0% 0%;
  position: absolute;
  cursor: pointer;
}

.BRleafEdgeL {
  /* border-style: solid none solid solid;
  border-color: rgb(51, 51, 34);
  border-width: 1px 0px 1px 1px; */
  /* background: transparent url(images/left_edges.png) repeat scroll 0% 0%; */
  background: transparent url(images/back_pages.png) repeat scroll 0% 0%; /* XXXmang replace file */
  position: absolute;
  cursor: pointer;
}

.BRleafEdgeTmp {
  /* border-style: solid none solid solid;
  border-color: rgb(51, 51, 34);
  border-width: 1px 0px 1px 1px; */
  /* background: transparent url(images/left_edges.png) repeat scroll 0% 0%; */
  background: transparent url(images/back_pages.png) repeat scroll 0% 0%; /* XXXmang replace file */
  position: absolute;
}

.BRgutter {
  /* border: 1px solid rgb(68, 25, 17); */
  position: absolute;
  background: transparent url(images/booksplit.png) repeat scroll 0% 0%;
}

.BRtwoPagePopUp {
  padding: 6px;
  position: absolute;
  font-size: $brFontSizeSmaller;
  color: white;
  background-color: #9A9B9D;
  opacity: 0.85;
  border-radius: 4px;
  white-space: nowrap;
}