#{$brScope} {

  .BookReaderSearchHilite {
    opacity: 0.20;
    filter: alpha(opacity = 20);
    background-color: #0000ff;
    position:absolute;
    /* z-index is important */
    z-index: $brZindexBase + 3;;
  }
  .BRchapter, .BRsearch {
    position: absolute;
    width: 20px;
    margin-left: -20px; /* Center icon */
    height: 25px;
    bottom: 0;  /* Relative to nav line */
    cursor: pointer;
    z-index: $brZindexBase + 2;
    background-color: transparent;
    background-repeat: no-repeat;
    font-weight: normal;
  }
  .BRchapter {
    background-image: url(images/marker_chap-off.svg);
    color: #666;
    padding: 0 5px;
    > div {
      display: none;
    }
  }
  .BRchapter.front {
    background-image: url(images/marker_chap-on.svg);
  }
  .BRsearch {
    background-image: url(images/marker_srch-off.svg);
  }
  .BRsearch.front {
    background-image: url(images/marker_srch-on.svg);
  }
  .BRsearch .BRquery {
    display: none;
  }
  .BRquery {
    position: relative;
    color: #666;

    b {
      color: #000;
      font-weight: bold;
      background-color: rgba(0,0,255, .2);
    }
  }
  .BRsearch .pointer {
    position: absolute;
    left: 121px;
    bottom: -14px;
    width: 18px;
    height: 27px;
    background: transparent url(images/marker_srch-on.png) no-repeat;
  }
  .BRmobileSearchResultWrapper {
    margin-top: 20px;
  }
  .BRmobileNumResults {
    margin-bottom: 10px;
  }
  .BRmobileSearchResult {
    display: block;
    font-size: $brFontSizeBase;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;

    &:active {
      color: $brColorThemeblue;
    }
    .pageDisplay {
      text-decoration: underline;
      color: $brColorThemeblue;
      display: block;
      margin-bottom:3px;
    }
    .searchImgPreview {
      width: 50px;
      height: auto;
      margin-right:5px;
    }
    table td {
      vertical-align: top;
    }
  }
  .BRbooksearch {
    position:relative;
    box-sizing: border-box;
  }
  .BRbooksearch.desktop {
    position: relative;
    height: 30px;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
    line-height:0;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;

    .BRsearchInput {
      -webkit-appearance: none;
      position: relative;
      width: 130px;
      max-width: 160px;
      height: 100%;
      color: white;
      outline: none;
      border: none;
      padding: 3px 0px 3px 10px;
      margin: 0;
      box-sizing: border-box;
      background: transparent;
      display: block;
      float: left;
      font-size: $brFontSizeSmaller;
      line-height: 1.2;
    }
    .BRsearchSubmit {
      width: auto;
      height: 100%;
      border: none;
      text-align: center;
      color: #fff;
      overflow: hidden;
      box-sizing:boder-box;
      display: block;
      background: transparent;
      float: left;
      cursor: pointer;
    }
  }

  .BRbooksearch.mobile {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;

    .BRsearchInput {
      -webkit-appearance: none;
      position: relative;
      min-width: 100px;
      float: left;
      font-size: $brFontSizeBase;
      width: 150px;
      height: 30px;
      border: 1px solid $brColorLightBorder;
      flex: 1;
    }
    .BRsearchSubmit {
      width: 30px;
      height: 30px;
      border: none;
      background-color: $brColorThemeblue;
      text-align: center;
      color: white;
      overflow: hidden;
      box-sizing: boder-box;
      display: inline-block;

      img {
        position:relative;
        top: 2px;
        left: 2px;
      }
    }
  }
}

/* Mid size breakpoint */
@media (max-width: $brBreakPointMid) {
  #{$brScope} {
    .BRbooksearch .BRsearchInput {
      padding: 0 0 0 8px;
      width: 110px;
      min-width: 110px;
    }
    .BRbooksearch .BRsearchSubmit {
      float: left;
    }
    .BRbooksearch.mobile .BRsearchSubmit {
      float: inherit;
      display: inline-block;
    }
    .BRbooksearch.mobile .BRsearchSubmit img {
      position: relative;
      top: 2px;
      left: -2px;
    }
  }
}
