%timeline-tooltip {
  display: none;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  width: 230px;
  padding: 12px 14px;
  color: $tooltipText;
  font-weight: bold;
  background: $tooltipBG;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  &:after {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    border: 7px solid transparent;
    border-width: 7px 4px;
    border-bottom: none;
    border-top-color: $tooltipBG;
  }
}

#{$brScope} {
  .BookReaderSearchHilite {
    opacity: 0.20;
    filter: alpha(opacity = 20);
    background-color: #0000ff;
    position: absolute;
    /* z-index is important */
    z-index: $brZindexBase + 3;

    animation: hiliteFadeIn .2s;
  }
  .BRchapter, .BRsearch {
    position: absolute;
    bottom: 0;  /* Relative to nav line */
    cursor: pointer;
    z-index: $brZindexBase + 2;
    background-color: transparent;
    background-repeat: no-repeat;
    font-weight: normal;
  }
  .BRchapter {
    background-color: white;
    color: #666;
    height: 8px;
    width: 4px;
    bottom: -13px;
    margin-left: -12px; /* Center icon */
    > div {
      @extend %timeline-tooltip;
    }
    &:hover {
      > div {
        display: block;
      }
    }
    &.front {
      background-color: blue;
    }
  }
  .BRsearch {
    width: 9px;
    height: 6px;
    margin-left: -10px;
    &:before {
      position: absolute;
      left: calc(50% - 2px);
      transform: translateX(-50%);
      width: 2px;
      height: 6px;
      content: "";
      background: $searchMarkerBG;
      border-radius: 2px;
    }
    &:hover {
      .BRquery {
        display: block;
      }
    }
  }
  .BRsearch .BRquery {
    display: none;
  }
  .BRquery {
    @extend %timeline-tooltip;
    b {
      color: $searchResultText;
      font-weight: bold;
      background-color: $searchResultBG;
    }
  }

  .BRbooksearch {
    position:relative;
    box-sizing: border-box;
  }
  .BRbooksearch.desktop {
    position: relative;
    height: 30px;
    border: 1px solid white;
    border-radius: 20px;
    display: inline-block;
    line-height:0;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;

    .BRsearchInput {
      -webkit-appearance: none;
      position: relative;
      width: 130px;
      max-width: 160px;
      height: 100%;
      color: white;
      outline: none;
      border: none;
      padding: 3px 0px 3px 10px;
      margin: 0;
      box-sizing: border-box;
      background: transparent;
      display: block;
      float: left;
      font-size: $brFontSizeBase;
      line-height: 1.2;
    }
    .BRsearchSubmit {
      width: auto;
      height: 100%;
      border: none;
      text-align: center;
      color: #fff;
      overflow: hidden;
      box-sizing:boder-box;
      display: block;
      background: transparent;
      float: left;
      cursor: pointer;
    }
  }

  .BRbooksearch.mobile {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;

    .BRsearchInput {
      -webkit-appearance: none;
      position: relative;
      min-width: 100px;
      float: left;
      font-size: $brFontSizeBase;
      width: 150px;
      height: 30px;
      border: 1px solid $brColorLightBorder;
      flex: 1;
      border-radius: 0;
    }
    .BRsearchSubmit {
      width: 30px;
      height: 30px;
      border: none;
      background-color: $brColorThemeblue;
      background-image: url("images/icon_search_button.svg");
      background-repeat: no-repeat;
      background-position: center center;

      text-align: center;
      color: white;
      overflow: hidden;
      box-sizing: border-box;
      display: inline-block;
    }
  }

  #BRsearch_tray {
    --menuSliderBg: #151515;
    --primaryTextColor: #fff;
    --activeButtonBg: #282828;
    --searchResultText: #adaedc;
    --searchResultBg: #272958;
    --searchResultBorder: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    overflow-y: auto;
    font-size: 14px;
    color: var(--primaryTextColor);
    background: var(--menuSliderBg);

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h3 {
      padding: 0;
      margin: 0 10px 0 0;
      font-size: 20px;
    }

    header p {
      display: none;
      padding: 0;
      margin: 0;
      font-size: 12px;
      font-weight: bold;
      font-style: italic;
    }
    header p.visible {
      display: block;
    }

    header div {
      display: flex;
      align-items: baseline;
    }

    a.close {
      justify-self: end;
    }

    fieldset {
      padding: 20px 0 10px 0;
      border: none;
    }

    [type="checkbox"] {
      display: none;
    }

    #all_files {
      display: none;
      + label {
        display: none;
      }
    }

    label {
      display: block;
      text-align: center;
    }

    label.checkbox {
      padding-bottom: 5px;
      font-size: 16px;
      line-height: 150%;
      vertical-align: middle;
    }

    label.checkbox:after {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-left: 7px;
      content: "";
      color: var(--primaryTextColor);
      border: 1px solid var(--primaryTextColor);
      border-radius: 2px;
      background: var(--activeButtonBg) 50% 50% no-repeat;
    }
      :checked + label.checkbox:after {
      background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTMgMTAiIHdpZHRoPSIxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNC4zMzMzMzMzMyAxMC00LjMzMzMzMzMzLTQuMTY2NjY2NjcgMS43MzMzMzMzMy0xLjY2NjY2NjY2IDIuNiAyLjUgNi45MzMzMzMzNy02LjY2NjY2NjY3IDEuNzMzMzMzMyAxLjY2NjY2NjY3eiIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
    }

    [type="search"] {
      -webkit-appearance: textfield;
      width: 100%;
      height: 22px;
      padding: 0 15px;
      box-sizing: border-box;
      font: normal 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: var(--primaryTextColor);
      border: 1px solid var(--primaryTextColor);
      border-radius: 15px;
      background: transparent;
    }
    [type="search"]:focus {
      outline: none;
    }
    [type="search"]::-webkit-search-cancel-button {
      width: 18px;
      height: 18px;
      -webkit-appearance: none;
      appearance: none;
      /* Uses an X SVG shape as a mask */
      -webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDAgNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgYXJpYS1sYWJlbGxlZGJ5PSJjbG9zZVRpdGxlSUQgY2xvc2VEZXNjSUQiPjxwYXRoIGQ9Ik0yOS4xOTIgMTAuODA4YTEuNSAxLjUgMCAwMTAgMi4xMkwyMi4xMjIgMjBsNy4wNyA3LjA3MmExLjUgMS41IDAgMDEtMi4xMiAyLjEyMWwtNy4wNzMtNy4wNy03LjA3IDcuMDdhMS41IDEuNSAwIDAxLTIuMTIxLTIuMTJsNy4wNy03LjA3My03LjA3LTcuMDdhMS41IDEuNSAwIDAxMi4xMi0yLjEyMUwyMCAxNy44NzhsNy4wNzItNy4wN2ExLjUgMS41IDAgMDEyLjEyMSAweiIgY2xhc3M9ImZpbGwtY29sb3IiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==') 0 0 no-repeat;
      mask: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNDAgNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgYXJpYS1sYWJlbGxlZGJ5PSJjbG9zZVRpdGxlSUQgY2xvc2VEZXNjSUQiPjxwYXRoIGQ9Ik0yOS4xOTIgMTAuODA4YTEuNSAxLjUgMCAwMTAgMi4xMkwyMi4xMjIgMjBsNy4wNyA3LjA3MmExLjUgMS41IDAgMDEtMi4xMiAyLjEyMWwtNy4wNzMtNy4wNy03LjA3IDcuMDdhMS41IDEuNSAwIDAxLTIuMTIxLTIuMTJsNy4wNy03LjA3My03LjA3LTcuMDdhMS41IDEuNSAwIDAxMi4xMi0yLjEyMUwyMCAxNy44NzhsNy4wNzItNy4wN2ExLjUgMS41IDAgMDEyLjEyMSAweiIgY2xhc3M9ImZpbGwtY29sb3IiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==') 0 0 no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
      background: #fff;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      margin-bottom: 20px;
      border-bottom: 1px solid $white;
      &:after {
        display: none;
      }
    }

    li img {
      display: block;
      width: 100%;
    }

    li h4 {
      padding: 0 0 20px 0;
      margin: 0;
      font-size: 14px;
      font-weight: normal;
    }

    li p {
      padding: 0 0 15px 0;
      margin: 0;
      font-size: 12px;
    }

    mark {
      padding: 0 2px;
      color: var(--searchResultText);
      background: var(--searchResultBg);
      border: 1px solid var(--searchResultBorder);
      border-radius: 2px;
    }

    #search_pending {
      display: none;
    }
    #search_pending.visible {
      display: block;
    }
  }

  .BRsearch-navigation {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $white;
    background-color: $brColorDarkGreyBg;
    h4 {
      padding: 0;
      margin: 0;
      font-size: 15px;
      font-weight: normal;
      span {
        vertical-align: middle;
      }
    }
    .pagination {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      span {
        display: inline-block;
        padding: 0 15px;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        &[disabled] {
          opacity: .3;
          cursor: default;
        }
        span {
          width: 8px;
          height: 13px;
          padding: 0;
          background-size: 100% auto;
        }
      }
    }
    .clear {
      span {
        width: 18px;
        height: 18px;
      }
    }
    + .BRnav {
      .BRnavCntl {
        display: none;
      }
    }
  }
}

@keyframes hiliteFadeIn {
  from { opacity: 0; }
  to { opacity: 0.2; }
}

/* Mid size breakpoint */
@media (max-width: $brBreakPointMid) {
  #{$brScope} {
    .BRbooksearch .BRsearchInput {
      padding: 0 0 0 8px;
      width: 110px;
      min-width: 110px;
    }
    .BRbooksearch .BRsearchSubmit {
      float: left;
    }
  }
}
