$gray13: #222;
$gray20: #333;
$gray40: #666;
$gray80: #ccc;
$white: #fff;
$controlsText: $white;
$controlsBG: $gray20;
$iconFill: $white;
$iconActiveFill: $gray20;
$iconStroke: $white;
$iconActiveStroke: $gray20;
$tooltipBG: $gray20;
$activeButtonBG: $white;
$controlsBorder: $gray13;
$trackColor: $gray40;
$trackFillColor: $gray80;

.BRcontrols {
  position: relative;
  z-index: 7;
  width: 100%;
  background: $controlsBG;
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background: transparent;
    outline: none;
    &:hover .tooltip {
      display: block;
    }
  }

  .tooltip {
    display: none;
    position: absolute;
    width: auto;
    left: 50%;
    bottom: calc(100% + 10px);
    transform: translateX(-50%);
    padding: 5px 10px;
    font-weight: bold;
    white-space: nowrap;
    color: $controlsText;
    border-radius: 3px;
    background: $tooltipBG;
  }

  .full .tooltip {
    left: auto;
    right: 0;
    transform: translateX(0);
  }

  .BRfullscreenActive & {
    .icon-fullscreen {
      background-image: url("/static/icons/fullscreen_exit.svg");
    }
  }

  select.playback-speed {
    width: 24px;
    padding-top: 18px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 10px;
    text-align: center;
    text-align-last: center;
    color: $controlsText;
    border: none;
    cursor: pointer;
    background: transparent url("/static/icons/playback-speed.svg") 50% 0 no-repeat;
  }

  .active {
    background: $activeButtonBG;
  }

  li {
    position: relative;
  }

  .controls {
    position: relative;
    z-index: 2;
    display: flex;
    padding: 2px 10px;
    margin: 0;
    list-style: none;
    border-top: 1px solid $controlsBorder;
    background: $controlsBG;
  }

  .controls button {
    width: 30px;
    height: 30px;
  }

  .read-aloud {
    display: flex;
    position: absolute;
    bottom: -80px;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 5px 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    list-style: none;
    transition: bottom .25s linear;
    background: $controlsBG;
    &.visible {
      bottom: 100%;
    }

    li {
      padding: 0 10px;
    }

    [name="play"] {
      .icon-pause {
        display: none;
      }
      &.playing {
        .icon-play {
          display: none;
        }
        .icon-pause {
          display: inline-block;
        }
      }
    }
  }

  .scrubber {
    display: flex;
    width: 100%;
    height: 30px;
  }

  .frame {
    position: relative;
    width: 100%;
  }

  .color-fill {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 8px;
    border-radius: 8px;
  }

  .scrubber input[type=range] {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    background-color: transparent;
    -webkit-appearance: none;
  }

  .scrubber input[type=range]:focus {
    outline: none;
  }

  .scrubber input[type=range]::-webkit-slider-runnable-track {
    background: transparent;
    border: 0px solid rgba(204, 204, 204, 0);
    border: 0;
    border-radius: 8px;
    width: 100%;
    height: 8px;
    cursor: pointer;
  }

  .scrubber input[type=range]::-webkit-slider-thumb {
    margin-top: -4px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .scrubber input[type=range]::-moz-range-track {
    background: #666666;
    border: 0px solid rgba(204, 204, 204, 0);
    border: 0;
    border-radius: 8px;
    width: 100%;
    height: 8px;
    cursor: pointer;
  }

  .scrubber input[type=range]::-moz-range-progress {
    height: 8px;
    background: #ccc;
  }

  .scrubber input[type=range]::-ms-track {
    border: none;
    color: transparent;
    background: #666;
  }

  .scrubber input[type=range]::-ms-fill-lower {
    background: #ccc;
  }

  .scrubber input[type=range]::-ms-tooltip {
    display: none;
  }

  .scrubber input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
  }

  .scrubber p {
    padding: 0 20px 0 13px;
    align-self: center;
    font-weight: 700;
    color: $controlsText;
  }

  /* BookReader defaults overrides */
  .BRnavline {
    top: -4px;
  }

  .scrubber .BRpager.ui-slider {
    top: 10px;
    background-color: $trackColor;
  }
  .scrubber .BRpager.ui-slider .ui-slider-range {
    background-color: $trackFillColor;
  }
}
