.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
  color: $brColorMobileMenuLink;
  font-size: $brFontSizeBase;
}
.mm-menu {
  background: $brColorMobileMenuBg;
}
.mm-panel {
  font-size: $brFontSizeSmaller;
}
#mm-blocker {
  z-index: $brZindexFullscreen + 2;
}
.mm-panel h1 {
  margin-top: 0;
  color: $brColorThemeBlueDarker;
  font-size: $brFontSizeBase;
}

/* Needed to override mmenu style */
html.mm-background .BookReader {
  background-color: $brColorMainBg;
}

.BRmobileMenu {
  button { -webkit-appearance: initial; }
  .BRaction { display: block; width: 100%; }
  div.share-social button { padding: 0 5px; height: 40px; text-align: left; }
}

.BRtoolbarMobileTitle {
  overflow:hidden;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-size: $brFontSizeBase;
  color: $brColorMobileMenuTitle;
  line-height: 40px;
  display: block;
  margin-right: 10px;
}
.BRmobileHamburgerWrapper {
  display: block;
  padding: 0 30px 0 50px;
}

.BRmobileHamburger {
	background: center center no-repeat transparent;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAATCAYAAABhh3Y4AAAAAXNSR0IArs4c6QAAAFZJREFUSA1jrKmpafv//38xELMx0AgwMjL+AuJeFqAlubS0COR+qPm5TED2FJDNNPIU2FiozybT0o5Rs4dBCDCO5jNKYnE0n1ESeiNI72g+oyiyYfkMAKCpRQemMsj0AAAAAElFTkSuQmCC');
  /* Should use SVG (below). See https://github.com/internetarchive/bookreader/issues/100 */
  /*background: url('data:image/svg+xml;utf8,<svg width="15px" height="12px" viewBox="0 0 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="hamburger-svg" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square"> <path d="M0,1 L14,1" id="Line" stroke="#000000"></path> <path d="M2.39808173e-14,6 L14,6" id="Line-Copy" stroke="#000000"></path> <path d="M1.15463195e-14,11 L14,11" id="Line-Copy-2" stroke="#000000"></path> </g></svg>') center / 50% 50% no-repeat;*/

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
  left: 10px;
  border: none;
  outline: none;
}

.DrawerIconWrapper {
  display: block;
  float: left;
  width: 20px;
  height:20px;
  margin-right: 10px;
  text-align: center;
  position:relative;
}
.DrawerIcon {
  height: 18px;
  width: auto;
  position: absolute;
  left: 0;
  top: 1px;
}
.DrawerSettingsTitle {
  color: $brColorThemeBlue2;
  font-size: $brFontSizeBase;
  font-weight: bold;
  margin-bottom: 10px;
}
.DrawerSettingsLayoutWrapper {
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}
.DrawerLayoutButton {
  border:none;
  background:none;
  color: $brColorThemeBlue2;
  line-height: 18px;
}
.DrawerLayoutButton:active {
  color: grey;
}

.BRmobileShare {
  div.share-title { font-weight: bold; font-size: $brFontSizeLarger; line-height: 1.5; }
  div.share-social { margin: 10px 0 20px 0; }
  p { font-weight: bold; }
  fieldset { padding: 0; border: 0; margin-bottom: 30px; }
  fieldset label { display: block; }
  fieldset input[type=text] { width: 95%; }
  button.share-finished { display: none; }
  div.share-embed { border: 1px solid #ccc; padding: 0 10px; }
  .open-to-this-page { display: block; margin: 10px 0; }
}

.BRmobileHamburgerWrapper { display: none; }
.BRmobileMenu { display: none; }
.BRtoolbar.responsive {display: none;}

/* Mobile Only */
@media (max-width: $brBreakPointMobile) {
  .BRbodyMobileNavEnabled,
  .BRbodyMobileNavEnabledFullscreen.BRfullscreenActive {
    .BRtoolbar.responsive {
      display: block;
      height: 40px;
      box-sizing: border-box;
      width: 100%;

      @include brLightControls;

      .BRtoolbarbuttons { display: none; }
      .BRmobileHamburgerWrapper { display: block; }
      .BRmobileMenu { display: block; }
    }
  }

}

.BRcheckbox-label-filters {
  position: relative;
  bottom: 2px;
}

/* Desktop Only */
@media (min-width: ($brBreakPointMobile + 1)) {
  .BRtoolbar.responsive { display: block; }
}

//strange css to get two lines ellises https://stackoverflow.com/questions/5269713/css-ellipsis-on-second-line
li.table-contents-el{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}