@import '../../node_modules/jquery.mmenu/dist/css/jquery.mmenu';
@import '../../node_modules/jquery.mmenu/dist/addons/navbars/jquery.mmenu.navbars';

.mm-menu .mm-navbar a, .mm-menu .mm-navbar>* {
  color: $controlsText;
  font-size: $brFontSizeBase;
}
.mm-menu {
  color: $controlsText;
  background: $mobileMenuBG;
  > .mm-navbar {
    background: $controlsBG;
  }
}
.mm-panel {
  font-size: $brFontSizeSmaller;
}
#mm-blocker {
  z-index: $brZindexFullscreen + 2;
}
.mm-panel h1 {
  margin-top: 0;
  color: $brColorThemeBlueDarker;
  font-size: $brFontSizeBase;
}

.mm-menu {
  .mm-listview {
    > li {
      .mm-next,
      .mm-next:before,
      &:after,
      .mm-arrow:after,
      .mm-next:after {
        border-color: $controlsText;
      }
    }
  }
}

.mm-menu .mm-btn:after,
.mm-menu .mm-btn:before {
  border-color: $iconStroke;
}

/* Needed to override mmenu style */
html.mm-background .BookReader {
  background-color: $brColorMainBg;
}

.BRmobileMenu {
  button { -webkit-appearance: initial; }
  .BRaction { display: block; width: 100%; }
  div.share-social button { padding: 0 5px; height: 40px; text-align: left; }
  a {
    color: inherit;
  }
}

.BRtoolbarMobileTitle {
  overflow:hidden;
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-size: $brFontSizeBase;
  line-height: 40px;
  display: block;
  margin-right: 10px;
}
.BRmobileHamburgerWrapper {
  display: block;
  padding: 0 30px 0 50px;
}

.BRmobileHamburger {
  background: transparent url('icons/hamburger.svg') 50% 50% no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
  border: none;
  outline: none;
}

.DrawerIconWrapper {
  display: block;
  float: left;
  width: 20px;
  height:20px;
  margin-right: 10px;
  text-align: center;
  position:relative;
}
.DrawerIcon {
  height: 18px;
  width: auto;
  position: absolute;
  left: 0;
  top: 1px;
}
.DrawerSettingsTitle {
  color: $controlsText;
  font-size: $brFontSizeBase;
  font-weight: bold;
  margin-bottom: 10px;
}
.DrawerSettingsLayoutWrapper {
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}
.DrawerLayoutButton {
  border:none;
  background:none;
  color: $controlsText;
  line-height: 18px;
}
.DrawerLayoutButton:active {
  color: grey;
}

.BRmobileShare {
  div.share-title { font-weight: bold; font-size: $brFontSizeLarger; line-height: 1.5; }
  div.share-social { margin: 10px 0 20px 0; }
  p { font-weight: bold; }
  fieldset { padding: 0; border: 0; margin-bottom: 30px; }
  fieldset label { display: block; }
  fieldset input[type=text] { width: 95%; }
  button.share-finished { display: none; }
  div.share-embed { border: 1px solid #ccc; padding: 0 10px; }
  .open-to-this-page { display: block; margin: 10px 0; }
}

.BRmobileHamburgerWrapper { display: none; }
.BRmobileMenu { display: none; }
.BRtoolbar.responsive {display: none;}

/* Mobile Only */
@media (max-width: $brBreakPointMobile) {
  .BRbodyMobileNavEnabled,
  .BRbodyMobileNavEnabledFullscreen.BRfullscreenActive {
    .BRtoolbar.responsive {
      display: block;
      height: 40px;
      box-sizing: border-box;
      width: 100%;
      color: $controlsText;
      background: $controlsBG;

      .BRtoolbarbuttons { display: none; }
      .BRmobileHamburgerWrapper { display: block; }
      .BRmobileMenu { display: block; }
    }
  }

}

.BRcheckbox-label-filters {
  position: relative;
  bottom: 2px;
}

/* Desktop Only */
@media (min-width: ($brBreakPointMobile + 1)) {
  .BRtoolbar.responsive { display: block; }
}
