.textSelectionSVG {
    // Make it so right-clicking on "blank" part of svg sends events to the image (for saving)
    pointer-events: none;
    a, .BRwordElement, rect.clickable { pointer-events: all; }
    &.selectingSVG {
        pointer-events: auto; 
        cursor: text;
    }
   
    // Highlight colors for text selection layer ( these 2 properties do not work if joined)
    .BRwordElement::selection {
        background: hsla(210, 74%, 62%, 0.4);
    }
    .BRwordElement::-moz-selection {
        background: hsla(210, 74%, 62%, 0.4);
        color: transparent;
    }

    .BRparagElement {
        fill: transparent;
        cursor: text;
        white-space: pre;
        font-family: Georgia, serif;
    }

    a rect, rect.clickable {
        fill: hsla(210, 74%, 62%, 0.2);
        stroke: hsla(210, 74%, 62%, 0.8);
        stroke-width: 6px;
        transition-property: fill, stroke;
        transition-duration: 0.2s;

        &:hover {
            fill: hsla(210, 74%, 62%, 0.3);
            stroke: hsla(210, 74%, 62%, 1);
        }
    }
}

// Hide text layer for performance during zooming & scrolling
.BRsmooth-zooming, .BRscrolling-active {
    .textSelectionSVG {
        display: none;
    }
}

// Hide text selection layers of off-screen pages, and only display
// 2 text layers regardless of zoom level
.BRmode1up .BRpagecontainer:not(.BRpage-visible) .textSelectionSVG {
    display: none;
}

// Makes page image unselectable
.BRpagecontainer img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@keyframes slide-up {
    from {
        transform: translateY(3px);
        opacity: 0;
    }
    to {}
}

#jit-context {
    display: none;
    width: 370px;
    height: 150px;
    position: fixed;
    background-color: #eee;
    z-index: 999;
    bottom: 40px;
    right: 20px;
    border-radius: 3px;
    color: #000;
    overflow: hidden;
    overflow: clip;
    border: 1px solid rgba(255,255,255,0.1);

    animation: slide-up 0.2s;

    .wikipedia-extract {
        height: 150px;
        overflow: hidden;
        overflow: clip;

        display: flex;
        & > img {
            width: 150px;
            object-fit: cover;
        }
        & > .extract {
            padding: 0 8px;
            margin-top: -4px;
            height: inherit;
        }

        & > a {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px;
            background: #eee;
            border-radius: 4px;
            border: 1px solid #eee;
            transition: background-color 0.2s;
            &:hover {
                background: white;
            }
        }
    }
}
