/* Variables */
$brFontSizeBase: 14px;
$brFontSizeLarger: 16px;
$brFontSizeSmaller: 12px;
$brFontFamily: "Helvetica Neue", Arial, Verdana, sans-serif;

$brColorThemeblue: #0074D1;
$brColorThemeBlue2: #4990E2;
$brColorThemeBlue3: rgb(74,144,226);
$brColorThemeBlueDarker: rgb(36,94,131);
$brColorDarkGreyBg: #818181;
// $brColorMainBg: #3a3b3b;
$brColorMainBg: black;

$brColorBirdBook: #FEFDEB;
$brColorPlaceholderBg: $brColorBirdBook;

// "Controls" are the navbar and toolbar

$brColorControlsLightFont: black;
$brColorControlsDarkFont: white;
$brColorControlsDarkBg: $brColorDarkGreyBg; // TODO
$brColorControlsLightBg: white;
$brColorLightBorder: #979797;
$brColorDarkBorder: #4D4D4D;

$brColorMobileMenuBg: rgb(247,247,247);
$brColorMobileMenuBg: white;
$brColorMobileMenuTitle: black;
$brColorMobileMenuLink: black;

$brNavHeightDesktop: 34px; //40px; //34px;
$brNavHeightMobile: 40px;

$brBreakPointMobile: 800px;
$brBreakPointMid: 1050px;

$brIconSpriteWidth: 40px;
$brIconWidthDesktop: 34px;
$brIconWidthMobile: 40px; //34px;

$brZindexBase: 1;
$brZindexPopup: 3000;
$brZindexFullscreen: 2000;

@mixin brDarkControls {
    background-color: $brColorDarkGreyBg;
    color: white;
    a { color: white; }
}
@mixin brLightControls {
    background-color: $brColorControlsLightBg;
    color: black;
    a { color: black; }
}

// These are the main root elements in BookReader
$brScope: ".BookReader, .BRmobileMenu, .BRfloat";

@import 'colorbox';
@import 'BRmain';
@import 'BRpages';
@import 'BRicon';
@import 'BRfloat';
@import 'BRnav';
@import 'BRtoolbar';
@import 'BRsearch';
@import 'MobileNav';