@import url("./icons.css");

/* Reset */
ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

html {
  font: normal 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bookreader {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-areas: "stage" "controls";
  grid-template-rows: 1fr auto;
  --gray13: #222;
  --gray20: #333;
  --gray40: #666;
  --gray80: #ccc;
  --white: #fff;
  --controlsText: var(--white);
  --controlsBG: var(--gray20);
  --iconFill: var(--white);
  --iconActiveFill: var(--gray20);
  --iconStroke: var(--white);
  --iconActiveStroke: var(--gray20);
  --activeButtonBG: var(--white);
  --controlsBorder: var(--gray13);
  --trackColor: var(--gray40);
  --trackFillColor: var(--gray80);
}

.stage {
  grid-area: stage;
}

.book {
  margin: 0 auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: .2rem;
  background: transparent;
  outline: none;
}

select.playback-speed {
  width: 24px;
  padding-top: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  text-align: center;
  text-align-last: center;
  color: var(--controlsText);
  border: none;
  cursor: pointer;
  background: transparent url("/static/icons/playback-speed.svg") 50% 0 no-repeat;
}

.active {
  background: var(--activeButtonBG);
}

nav {
  position: relative;
  grid-area: controls;
  background: var(--controlsBG);
}

nav ul {
  display: flex;
}

.controls {
  position: relative;
  z-index: 2;
  padding: .2rem 1rem;
  border-top: 1px solid var(--controlsBorder);
  background: var(--controlsBG);
}

.controls button {
  width: 3rem;
  height: 3rem;
}

.read-aloud {
  display: flex;
  position: absolute;
  bottom: -80px;
  right: 0;
  left: 0;
  z-index: 1;
  padding: .5rem 0;
  align-items: center;
  justify-content: center;
  transition: bottom .25s linear;
  background: var(--controlsBG);
}

.read-aloud.visible {
  bottom: 100%;
}

.read-aloud li {
  padding: 0 1rem;
}

.scrubber {
  display: flex;
  width: 100%;
  align-items: center;
}

.frame {
  position: relative;
  width: 100%;
}

.color-fill {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  border-radius: 8px;
}

.scrubber input[type=range] {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
}

.scrubber input[type=range]:focus {
  outline: none;
}

.scrubber input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
  border: 0px solid rgba(204, 204, 204, 0);
  border: 0;
  border-radius: 8px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

.scrubber input[type=range]::-webkit-slider-thumb {
  margin-top: -4px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  -webkit-appearance: none;
}

.scrubber input[type=range]::-moz-range-track {
  background: #666666;
  border: 0px solid rgba(204, 204, 204, 0);
  border: 0;
  border-radius: 8px;
  width: 100%;
  height: 8px;
  cursor: pointer;
}

.scrubber input[type=range]::-moz-range-progress {
  height: 8px;
  background: #ccc;
}

.scrubber input[type=range]::-ms-track {
  border: none;
  color: transparent;
  background: #666;
}

.scrubber input[type=range]::-ms-fill-lower {
  background: #ccc;
}

.scrubber input[type=range]::-ms-tooltip {
  display: none;
}

.scrubber input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.scrubber p {
  padding: 0 2rem 0 1.3rem;
  font-weight: 700;
  color: var(--controlsText);
}
