/*
 * Custom overrides for BookReader Demo.
 */
html {
    font-size: 10px;
    font-family: sans-serif;
}

body {
    background-color: #939598;
    margin: 0px;
}

/* Hide print and embed functionality */
.BRtoolbar .embed, .print {
    display: none;
}

.BookReader {
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

@media only screen and (max-width: 799px) {
    body.BRbodyMobileNavEnabled {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
    .BRbodyMobileNavEnabled .BookReader {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        height: 100%;
        margin: 0;
        width: 100%;
    }
  }
