html,body {
  margin: 0;
  padding: 0;
}
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
#BookReaderAnnotationCreation {
  width: 500px;
  margin: 50px auto 0;
  text-align: center;
}
#annotation-image {
  display: none;
  margin-bottom: 10px;
  border: 1px solid blue;
  line-height: 0;
}
section.input-data .page-number {
  margin: 25px 0;
}
section.input-data #page-number {
  border-radius: 3px;
  border: 1px solid #000;
  width: 50px;
  padding: 5px;
}
section.input-data #page-number[disabled],
section.input-data #annotation-content[disabled] {
  background: #ddd;
}
section.output-data {
  margin: 25px 0;
}
section.input-data #annotation-content,
section.output-data #annotations-output {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 200px;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) inset;
  cursor: text;
}
section.output-data #annotations-output {
  font-family: Courier New, sans-serif;
  background: #ddd;
}